{% extends parent_template|default:'base.html' %}

{% block adverse_menu %}
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-wheelchair"></i> <span>Adverse Events</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'adverse_emergency_contact_create' %}">
                    <i class="fa fa-circle-o text-aqua"></i> Add Emergency Contact
                </a>
            </li>
            <li>
                <a href="{% url 'adverse_emergency_contact_list' %}">
                    <i class="fa fa-circle-o text-aqua"></i> View Emergency Contacts
                </a>
            </li>
            <li>
                <a href="{% url 'adverse_event_type_create' %}">
                    <i class="fa fa-circle-o text-aqua"></i> Add Event Type
                </a>
            </li>
            <li>
                <a href="{% url 'adverse_event_type_list' %}">
                    <i class="fa fa-circle-o text-aqua"></i> Report Event Types
                </a>
            </li>
            <li>
                <a href="{% url 'adverse_event_create' %}">
                    <i class="fa fa-circle-o text-aqua"></i> Report Event
                </a>
            </li>
            <li>
                <a href="{% url 'adverse_event_list' %}">
                    <i class="fa fa-circle-o text-aqua"></i> View Events
                </a>
            </li>
        </ul>
    </li>
{% endblock %}