{% extends parent_template|default:"base.html" %}
{% load staticfiles %}

{% block title %}
    {{ block.super }} | Dashboard
{% endblock %}

{% block dashboard_menu %}
    <li class="active">
        <a href="{% url 'dashboard_home' %}">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
        </a>
    </li>
{% endblock %}

{% block head %}
    <!-- DataTables -->
    <link rel="stylesheet" href="{% static "plugins/datatables/dataTables.bootstrap.css"%} ">
{% endblock %}

{% block page_heading %}
  Dashboard
{% endblock %}

{% block page_subheading %}
{% endblock %}

{% block page_breadcrumb %}
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li class="active">Dashboard</li>
{% endblock %}

{% block page_content %}
    {{ block.super }}
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-calendar-plus-o"></i>&zwnj;</span>

                <div class="info-box-content">
                    <span class="info-box-text">Appointments This Week</span>
                    <span class="info-box-number">{{ appointment_list|length }}</span>
                    <a href="{% url 'appointments_appointment_list' %}" class="info-box-more">View Appointments</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-calendar-o"></i>&zwnj;</span>

                <div class="info-box-content">
                    <span class="info-box-text">Events This Week</span>
                    <span class="info-box-number">{{ event_list|length }}</span>
                    <a href="{% url 'occasions_event_list' %}" class="info-box-more">View Events</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-6 col-xs-12">
            <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="fa fa-bell-o"></i>&zwnj;</span>

                <div class="info-box-content">
                    <span class="info-box-text">Unread Notifications</span>
                    <span class="info-box-number notification-count"></span>
                    <a href="{% url 'user_profile_notification_list' %}" class="info-box-more">View Notifications</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">5 Most Recent Counselling Sessions</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <table class="list-table table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Type</th>
                                <th>Patient ID</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for counselling_session in counselling_session_list %}
                                <tr>
                                    <td>
                                        <a href="{{ counselling_session.get_absolute_url }}">
                                            {{ counselling_session.counselling_session_type }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ counselling_session.get_absolute_url }}">
                                            {{ counselling_session.patient.identifier }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ counselling_session.get_absolute_url }}">
                                            {{ counselling_session.date_created }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Type</th>
                                <th>Patient ID</th>
                                <th>Date</th>
                            </tr>
                        </tfoot>

                    </table>
                </div>

                <div class="box-footer text-center">
                    <a href="{% url 'counselling_sessions_session_list' %}" class="uppercase">
                        View All Counselling Sessions
                    </a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">5 Most Recent Enrollments</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <table class="list-table table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Program</th>
                                <th>Patient ID</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for enrollment in enrollment_list %}
                                <tr>
                                    <td><a href="{{ enrollment.get_absolute_url }}">{{ enrollment.program }}</a></td>
                                    <td>
                                        <a href="{{ enrollment.get_absolute_url }}">
                                            {{ enrollment.patient.identifier }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ enrollment.get_absolute_url }}">{{ enrollment.date_enrolled }}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Program</th>
                                <th>Patient ID</th>
                                <th>Date</th>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div class="box-footer text-center">
                    <a href="{% url 'patients_enrollment_list' %}" class="uppercase">View All Enrollments</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">5 Most Recent Patient Outcomes</h3>

                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <table class="list-table table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Category</th>
                                <th>Patient ID</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for outcome in patient_outcome_list %}
                                <tr>
                                    <td><a href="{{ outcome.get_absolute_url }}">{{ outcome.outcome_type }}</a></td>
                                    <td>
                                        <a href="{{ outcome.get_absolute_url }}">{{ outcome.patient.identifier }}</a>
                                    </td>
                                    <td><a href="{{ outcome.get_absolute_url }}">{{ outcome.outcome_date }}</a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Category</th>
                                <th>Patient ID</th>
                                <th>Date</th>
                            </tr>
                        </tfoot>

                    </table>
                </div>
                <div class="box-footer text-center">
                    <a href="{% url 'patients_outcome_list' %}" class="uppercase">View All Patient Outcomes</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">5 Most Recent Adverse Events</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse">
                            <i class="fa fa-minus"></i>
                        </button>
                    </div>
                </div>

                <div class="box-body">
                    <table class="list-table table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Event Type</th>
                                <th>Patient ID</th>
                                <th>Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for adverse_event in adverse_event_list %}
                                <tr>
                                    <td>
                                        <a href="{{ adverse_event.get_absolute_url }}">
                                            {{ adverse_event.adverse_event_type }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ adverse_event.get_absolute_url }}">
                                            {{ adverse_event.patient.identifier }}
                                        </a>
                                    </td>
                                    <td>
                                        <a href="{{ adverse_event.get_absolute_url }}">
                                            {{ adverse_event.event_date }}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Event Type</th>
                                <th>Patient ID</th>
                                <th>Date</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="box-footer text-center">
                    <a href="{% url 'adverse_event_list' %}" class="uppercase">View All Adverse Events</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <!-- DataTables -->
    <script src="{% static "plugins/datatables/jquery.dataTables.min.js" %}"></script>
    <script src="{% static "plugins/datatables/dataTables.bootstrap.min.js" %}"></script>
    <!-- page script -->
    <script>
        $(function () {
            $(".list-table").DataTable({
                "paging": false,
                "lengthChange": false,
                "searching": false,
                "ordering": false,
                "info": true,
                "autoWidth": false
            });
        });
    </script>
{% endblock %}
