{% extends parent_template|default:"base.html" %}

{% block enrollments_menu %}
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-support"></i> <span>Enrollments</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'patients_enrollment_create' %}">
                    <i class="fa fa-circle-o text-aqua"></i> Add Enrollment
                </a>
            </li>
            <li>
                <a href="{% url 'patients_enrollment_list' %}">
                    <i class="fa fa-circle-o text-aqua"></i> View Enrollments
                </a>
            </li>
        </ul>
    </li>
{% endblock %}