{% extends parent_template|default:"base.html" %}

{% block page_breadcrumb %}
    <li><a href="{% url 'dashboard_home' %}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
{% endblock %}

{% block patients_menu %}
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-heartbeat"></i> <span>Patients</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li>
                <a href="{% url 'patients_patient_create' %}">
                    <i class="fa fa-circle-o text-aqua"></i> Add Patient
                </a>
            </li>
            <li>
                <a href="{% url 'patients_patient_import' %}">
                    <i class="fa fa-circle-o text-aqua"></i> Import Patients
                </a>
            </li>
            <li>
                <a href="{% url 'patients_patient_list' %}">
                    <i class="fa fa-circle-o text-aqua"></i> View Current Patients
                </a>
            </li>
            <li>
                <a href="{% url 'patients_patient_archived_list' %}">
                    <i class="fa fa-circle-o text-aqua"></i> View Archived Patients
                </a>
            </li>
            <li>
                <a href="{% url 'patients_outcome_type_create' %}">
                    <i class="fa fa-circle-o text-aqua"></i> Add Outcome Categories
                </a>
            </li>
            <li>
                <a href="{% url 'patients_outcome_type_list' %}">
                    <i class="fa fa-circle-o text-aqua"></i> View Outcome Categories
                </a>
            </li>
            <li>
                <a href="{% url 'patients_outcome_create' %}">
                    <i class="fa fa-circle-o text-aqua"></i> Add Outcome
                </a>
            </li>
            <li>
                <a href="{% url 'patients_outcome_list' %}">
                    <i class="fa fa-circle-o text-aqua"></i> View Outcomes
                </a>
            </li>
        </ul>
    </li>

{% endblock %}